@import "../../utils/main";

.footer {
  box-shadow: 0 -1px 0 0 $light-gray;

  @include onMobile {
    height: 257px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1136px;
    margin: 0 auto;
    padding: 32px;

    @include onTablet {
      padding-inline: 32px;
    }

    @include onMobile {
      flex-direction: column;
      gap: 32px;
      padding: 32px 24px;
      justify-content: initial;
      align-items: normal;
    }
  }

  &__links {
    display: flex;
    gap: 290px;
    align-items: center;

    @include onTablet {
      gap: 103px;
    }

    @include onMobile {
      gap: 32px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__nav {
    display: flex;
    gap: 64px;

    @include onTablet {
      font-size: 12px;
      gap: 13.5px;
    }

    @include onMobile {
      flex-direction: column;
      gap: 16px;
    }
  }

  :root[data-theme="dark"] &__logo {
    background-image: url('../../icons/logo-dark.svg');
  }

  &__logo {
    background-image: url('../../icons/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 26.5px;

    @include onTablet {
      width: 64px;
      height: 22px;
    }
  }

  &__link {
    @extend %uppercase;
    color: $gray-secondary;
    transition: all 0.3s;

    &:hover {
      color: $main-gray;
    }
  }

  &__button-container {
    display: flex;
    align-items: center;

    @include onMobile {
      justify-content: center;
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border: 1px solid $main-gray;
    background-color: var(--background-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 1px 3px rgba(23, 32, 49, 0.66);
    }

    &-text {
      width: max-content;
      margin-right: 16px;

      color: $gray-secondary;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
    }
  }

  :root[data-theme="dark"] &__image {
    filter: grayscale(100%) invert(100%);
  }
}
